<!DOCTYPE html>
<head>
<html lang="ru">
<meta charset="utf-8">
<title>Моя страница</title>
<link rel="stylesheet" href="popova.css">
<link rel="icon" href="ff.ico"> 
<style type ="text / html">
<body bgcolor=’fuchsia’ text=’silver’>
	<img src="ee.png">
</style>
</head>


 <body bgcolor=rebeccapurple text=’blue’>   
<a href= "https://go.glideapps.com/">glide</a>

<body bgcolor=rebeccapurple text=’blue’>
<img src="tv23.jpg">    
<a href= "https://dewiar.com/">помощник</a>

<a href= "https://myneuralnetworks.ru/">художник</a>
<img src="DD.png">
<a href= "https://differentdimensionme.net/#demo">рисовальщик</a>


<a href= "https://app.leonardo.ai/ai-generations">рисовальщик 2</a>



<a href="http://html-css-js.com">html-css-js.com</a> 
<img src="img1.png">

<div id="demotext">help </div>
    <p align="left">я</p>
<p align="center">не знаю</p>
<p align="right">что</p>
<p align="justify">делать</p>
<p>это текст да</p>

<h1>это</h1>
<h2>прекрасно</h2>
<h3>если</h3>
<h4>вы</h4>
<h5>не согласня</h5>
<h6>то не знаю я не умею нормально делть работу</h6>
<font color="red">
    </font>
<b>silver</b>
<p>{colourse:red}</p>
<diy clourse="Reddet"></diy>
<a href="about.html">нажми</a>
<!--************CODE GEOCOUNTER************-->
<a href="http://www.geovisites.com/zoom.php?compte=hhc1xbshbu9u"  target="_blank"><img src="https://geoloc5.geovisite.ovh/private/geocounter.php?compte=hhc1xbshbu9u&base=geoloc5" border="0" alt=""></a><!--************END CODE GEOCOUNTER************-->
<H2>I. Фрукты</H2>
<ol>
<li>Яблоки</li>
<ol>
<li>a. Зеленые</li>
<li>b.Красные</li>
</ol>
<li>o Апельсины</li>  
<li>1. Груши</li>
<li>II. Овощи</li>
<ul>
<li>1. Картофель</li>
<li>2. Морковь</li>
<li>3. Капуста</li> 
<li>a. Брокколи</li>
<li>b. Цветная</li>
<li>4. Свекла</li>
</ul>
</ol>
<img src="4.jpg">
<p>&nbsp;</p>

<marquee>This text will scroll from right to left</marquee>

<marquee direction="up">This text will scroll from bottom to top</marquee>

<marquee
  direction="down"
  width="250"
  height="200"
  behavior="alternate"
  style="border:solid">
  <marquee behavior="alternate"> This text will bounce </marquee>
</marquee>
<A HREF="INDEX2.HTML">самостоятельная работа </A> - это текстовая гиперссылка.
<A HREF="INDEX2.HTML"><img src="img1.gif"></A> - это графическая гиперссылка.
<A HREF="http://mail.ru">Почта</A> - ссылка на ресурс в Интернет.
<a href="#end">в конец документа</a>



<table width='100%' height='100%' valign='top'>
<tr height='10%' bgcolor='silver'>
<td colspan='3'>Это я</td>
</tr>
<tr height='80%'>
<td width='15%' bgcolor='green'>Не доберяйте Ромашке</td>
<td bgcolor='yellow'>Ромашка ты цветок?</td>
<td width='15%' bgcolor='green'>ребята я не знаю</td>
</tr>
<tr bgcolor='silver'>
<td colspan='3'>всем пока</td>
</tr>
</table>
<title>Панель навигации</title>

<title>Панель навигации</title>
32
<ul>
<li> <a href="1.html" target="f2">Пункт1</a></li>
<li><a href="2.html" target="f2"> Пункт2</a></li>
</ul>
<INPUT TYPE="тип" NAME="имя">
<INPUT TYPE="text" NAME="имя">
    <form>
<!-- поля ввода -->
<input type ="text" name="first_name" size="30">Имя<br>
<input type ="text" name="last_name" size="30">Фамилия<br>
<input type ="text" name="birthday" size="5" maxlength="4">Год рождения<br>
<!-- Поле пароля -->
Введите пароль <input type="password" name="pass" size="10"
maxlength="10"><br>
<!-- Поле загрузки файла -->
Укажите путь к файлу: <br><input type="file" size="17">
</form>
<!-- Группа переключателей -->
<h2>Цвет фона страницы</h2>
<br><input type="radio" name="color" value="white" checked >белый
<br><input type="radio" name="color" value="yellow"> желтый
<br><input type="radio" name="color" value="green" >Зеленый
<!-- Группа Флажков -->
<h2>Выберите фрукт</h2>
<input type="checkbox" name="fruit" value="pear" checked >Груша
<br><input type="checkbox" name= "fruit1" value="peach" >Персик
<br><input type="checkbox" name="fruit2" value="apple" >Яблоко<br>
<FORM>
<TABLE>
40
<CAPTION>Выберите страну:</CAPTION>
<TR><TD VALIGN="top">
<SELECT NAME="country" SIZE=’1’>
<OPTION VALUE="Белоруссия">Белоруссия
<OPTION VALUE="Казахстан">Казахстан
<OPTION VALUE="Россия">Россия
<OPTION VALUE="Украина">Украина
</SELECT>
</TD>
<TD VALIGN="top">
<SELECT NAME="Countries" size="3" MULTIPLE>
<OPTION VALUE= "Белоруссия">Белоруссия
<OPTION VALUE="Казахстан">Казахстан
<OPTION VALUE="Россия" SELECTED>Россия
<OPTION VALUE="Украина">Украина
</SELECT>
</TD></TR></TABLE>
</FORM>
<from>
<!-- поля ввода -->
<input type ="text" name="first_name" size="30">Имя<br>
<input type ="text" name="last_name" size="30">Фамилия<br>
<input type ="text" name="birthday" size="5" maxlength=’4’>Год рождения<br>
<!-- Поле пароля -->
Введите пароль <input type="password" name="pass" size="10"
maxlength="10"><br>
<!-- Поле загрузки файла -->
Укажите путь к файлу: <br><input type="file" size="17">
</from>
<input type="text" name="username" placeholder="Введите ваше имя"> 


<html> 
      <button class="btn">Кнопка 1</button> 
      <button class="btn">Кнопка 2</button> 
  

 

      <div class="container"> 
        <p>Параграф 1</p> 
        <p>Параграф 2</p> 
        <p>Параграф 3</p> 
      </div> 
  


      <img src="example.jpg" alt="Пример изображения" class="img-example"> 
      <p data-type="info">Информационный текст</p> 
      <p data-type="warning">Предупреждающий текст</p> 
      <p data-type="error">Текст ошибки</p> 
  


      <ul> 
         <li>Элемент списка 1</li> 
         <li>Элемент списка 2</li> 
         <li>Элемент списка 3</li> 
      </ul> 
      <p class="hover-text">Наведите курсор на этот текст</p> 
  
      <table> 
         <thead> 
            <tr> 
                <th>Заголовок 1</th> 
                <th>Заголовок 2</th> 
            </tr> 
         </thead> 
        
            <tr> 
                <td>Данные 1</td> 
                <td>Данные 2</td> 
            </tr> 
            <tr> 
                 <td>Данные 3</td> 
                 <td>Данные 4</td> 
            </tr> 
            <tr> 
                  <td>Данные 5</td> 
                  <td>Данные 6</td> 
            </tr> 
         
      </table> 
   


      <h1>Заголовок</h1> 
      <p>Текст параграфа.</p> 
   

<main class="wrapper">

  <h1>Это сайт</h1>

  <section class="all-sliders">
    <label class="slidecontainer first">
      <span style="font-size:36px">яркость</span>
      <input class="slider" id="range-slider" type="range" min="1" step="0.01" max="100" value="80">
    </label>

    <label class="slidecontainer second">
      <span style="font-size:36px">контраст</span>
      <input class="slider" id="range-slider2" type="range" min="1" step="0.01" max="100" value="20">
    </label>
  </section>


 
</main>

 <a href="http://katalog-kursov.ru">katalog-kursov.ru</a>

<a href="http://w3schools.com">w3schools.com</a>  

<ul class="unstyled centered">
  <li>
    <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
    <label for="styled-checkbox-1">Checkbox</label>
  </li>
  <li>
    <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2" checked>
    <label for="styled-checkbox-2">CSS Only</label>
  </li>
  <li>
    <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value3" disabled>
    <label for="styled-checkbox-3">A disabled checkbox</label>
  </li>
  <li>
    <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value4">
    <label for="styled-checkbox-4">Fourth option</label>
  </li>
</ul>


    
    


<div id="ru">
  <div class="top">
    <header>
      <noindex>
        <a href="http://beget.com" target="_blank" title="Перейти на сайт хостинг-провайдера" class="logo" rel="nofollow">
          <img src="https://cp.beget.com/i/logo.png">
        </a>
      </noindex>
      <nav>
        <noindex><a href="https://cp.beget.com" target="_blank" rel="nofollow">Панель управления</a></noindex>
        <noindex><a href="https://beget.com/ru/domain-register" target="_blank" rel="nofollow">Регистрация доменов</a></noindex>
        <noindex><a href="https://beget.com/ru/virtual-hosting" target="_blank" rel="nofollow">Тарифы</a></noindex>
      </nav>
    </header>
    <main>
      <div class="octo">
        <img src="https://cp.beget.com/img/octo/octo_coffee.png">
      </div>
      <div class="b-alert b-alert--success b-alert--icon-check">
          Новый сайт успешно создан и готов к работе. Если у Вас возникли вопросы, мы с удовольствием ответим на них.
      </div>
      <div class="hint" id="cache-hint"></div>
    </main>
  </div>
  <hr>
  <div class="bottom-mobile">
    <footer>
      <h2>Тех. поддержка</h2>
      <p>
        <txt>Почта:</txt>
        <span><noindex><a href="mailto:support@beget.com" rel="nofollow">support@beget.com</a></noindex></span></p>
      <p>
        <txt>Россия:</txt>
        <span>+7 (800) 700-06-08</span></p>
      <p>
        <txt>Украина:</txt>
        <span>+380 (800) 802-192</span></p>
    </footer>
  </div>
  <div class="bottom">
    <footer>
      <div class="footer-col">
        <div>Тех. поддержка:</div>
        <div>Бухгалтерия:</div>
        <div>Руководство:</div>
        <div>Telegram:</div>
        <div>Skype:</div>
      </div>
      <div class="footer-col" style="padding-right: 100px;">
        <noindex><a href="mailto:support@beget.com" rel="nofollow">support@beget.com</a></noindex>
        <noindex><a href="mailto:bills@beget.com" rel="nofollow">bills@beget.com</a></noindex>
        <noindex><a href="mailto:manager@beget.com" rel="nofollow">manager@beget.com</a></noindex>
        <noindex><a href="tg://resolve?domain=begetbot" rel="nofollow">@begetbot</a></noindex>
        <noindex><a href="https://join.skype.com/bot/ceda3526-d09b-4157-b6f0-91a646073c7e?add" target="_blank" rel="nofollow">Добавить в контакты</a></noindex>
      </div>
      <div class="footer-col">
        <div>Россия:</div>
        <div>СПб:</div>
        <div>Москва:</div>
        <div>Украина:</div>
        <div>Киев:</div>
      </div>
      <div class="footer-col">
        <b>+7 (800) 700-06-08</b>
        <b>+7 (812) 3854136</b>
        <b>+7 (495) 721-80-88</b>
        <b>+380 (800) 802-192</b>
        <b>+380 (44) 300-02-18</b>
      </div>
    </footer>
  </div>
</div>

<div id="en" style="display: none">
  <div class="top">
    <header>
      <noindex>
        <a href="http://beget.com" target="_blank" title="Web hosting home page" class="logo" rel="nofollow">
          <img src="https://cp.beget.com/i/logo.png">
        </a>
      </noindex>
      <nav>
        <noindex><a href="https://cp.beget.com" target="_blank" rel="nofollow">Control Panel</a></noindex>
        <noindex><a href="https://beget.com/en/domain-register" target="_blank" rel="nofollow">Domain registration</a></noindex>
        <noindex><a href="https://beget.com/en/virtual-hosting" target="_blank" rel="nofollow">Plans</a></noindex>
      </nav>
    </header>
    <main>
      <div class="octo">
        <img src="https://cp.beget.com/img/octo/octo_coffee.png">
      </div>
      <div class="b-alert b-alert--success b-alert--icon-check">
          The new site has been successfully created and is ready to work. If you have any questions we will be happy to answer them.
      </div>
      <div class="hint" id="cache-hint"></div>
    </main>
  </div>
  <hr>
  <div class="bottom-mobile">
  </div>
  <div class="bottom">
  </div>
</div>
<script type="text/template" id="hotkeyTemplate">
  <% if ((browser.isOpera || browser.isFirefox || browser.isChrome) && browser.isMac) { %>
  <span class="key">⌘</span> + <span class="key">R</span>
  <% } %>
  <% if ((browser.isOpera || browser.isFirefox || browser.isChrome) && !browser.isMac) { %>
  <span class="key">Ctrl</span> + <span class="key">R</span>
  <% } %>
  <% if (browser.isIE || browser.isEdge) { %>
  <span class="key">Ctrl</span> + <span class="key">F5</span>
  <% } %>
  <% if (browser.isSafari) { %>
  <span class="key">⌥</span> + <span class="key">⌘</span> + <span class="key">E</span>
  <% } %>
</script>
<script type="text/template" id="instructionTemplateRu">
  <div>
    <% _.forEach(data, function(item, index) { %>
    <div class="instruction-row">
      <div><%- index + 1 %>. <%- item.text %></div>
      <% if (item.image) { %>
        <noindex>
          <a href="<%- item.image.normal %>" data-srcset="<%- item.image.normal %> 1x, <%- item.image.retina %> 2x"
             data-fancybox="instruction" data-caption="<%- item.text %>" rel="nofollow">
            <img src="<%- item.image.normal %>" srcset="<%- item.image.normal %> 1x, <%- item.image.retina %> 2x" width="99"
                 alt="<%- item.text %>">
          </a>
        </noindex>
      <% } %>
    </div>

    <% }) %>
  </div>
</script>
<script type="text/template" id="instructionTemplateEn">
  <% if (browser.isFirefox) { %>
  <div>
    <div class="instruction-row">1. Open the browser menu (three horizontal bars in the upper right corner of the window)</div>
    <div class="instruction-row">2. Select "Preferences"</div>
    <div class="instruction-row">3. Go to the "Privacy & Security" section.</div>
    <div class="instruction-row">4. Click "Clear history..."</div>
    <div class="instruction-row">5. In the window that appears, click "Clear Now”</div>
  </div>
  <% } %>
  <% if (browser.isChrome && !browser.isYandex) { %>
  <div>
    <div class="instruction-row">1. Open the browser menu (three horizontal bars in the upper right corner of the window)</div>
    <div class="instruction-row">2. Select "More tools" > "Clear browsing data..."</div>
    <div class="instruction-row">3. Click "Clear data"</div>
  </div>
  <% } %>
  <% if (browser.isSafari) { %>
  <div>
    <div class="instruction-row">1. In the menu bar select “Safari” > “Preferences”</div>
    <div class="instruction-row">2. Enable “Show Develop menu in menu bar” in Advanced section and close the window</div>
    <div class="instruction-row">3. In the menu bar select “Develop” > “Empty caches”</div>
  </div>
  <% } %>
  <% if (browser.isYandex) { %>
  <div>
    <div class="instruction-row">1. Open the browser menu (three horizontal bars in the upper right corner of the window)</div>
    <div class="instruction-row">2. Go to the "History" > "Settings - Clear browsing data"</div>
    <div class="instruction-row">3. Select "Cookies and other site data" and "Cached files", click "Clear browsing data"</div>
  </div>
  <% } %>
  <% if (browser.isOpera) { %>
  <div>
    <div class="instruction-row">1. Type ”opera://settings/clearBrowserData" in the address bar, press Enter</div>
    <div class="instruction-row">2. Select "Cookies and other site data" and "Cached images and files", click "Clear browsing data"</div>
  </div>
  <% } %>
  <% if (browser.isIE) { %>
  <div>
    <div class="instruction-row">1. Select “Tools” > “Delete browsing history"</div>
    <div class="instruction-row">2. Select “Temporary Internet files and website files” and press “Delete”</div>
  </div>
  <% } %>
</script>
<script type="text/template" id="cacheTemplateRu">
  <div class="hint">
    <h2>Проблема уже решена? Попробуйте сбросить кэш</h2>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span><a class="clear-cache"
                                                                          onclick="clearCache(event)" href="#">Очистите
        кэш автоматически</a></li>
      <% if (browser.isSafari) { %>
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span>Нажмите <b id="hotkey"></b>, затем перезагрузите
        страницу.
      </li>
      <% } else { %>
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span>Перезагрузите страницу, нажав <b id="hotkey"></b>
      </li>
      <% } %>
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span><a onclick="toggleInstruction(event)" href="#">Очистите кэш из настроек браузера <i class="fas fa-angle-down instruction-collapse-angle"></i></a>
        <div class="gallery">
          <div id="instruction"></div>
          Если не помогло - вы можете связаться с нашей службой технической поддержки с помощью раздела «Обратная связь»
          в панели управления хостингом или любым удобным для вас способом.
        </div>
      </li>

    </ul>
  </div>
</script>
<script type="text/template" id="cacheTemplateEn">
  <div class="hint">
    <h2>Is the problem solved? Try to reset the cache</h2>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span><a class="clear-cache"
                                                                          onclick="clearCache(event)" href="#">Clear the
        cache automatically</a></li>
      <% if (browser.isSafari) { %>
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span>Press <b id="hotkey"></b> and reload the page
      </li>
      <% } else { %>
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span>Reload the page by pressing <b id="hotkey"></b>
      </li>
      <% } %>
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span><a onclick="toggleInstruction(event)" href="#">Clear the cache from your browser settings <i class="fas fa-angle-down instruction-collapse-angle"></i></a>
        <div class="gallery">
          <div id="instruction"></div>
          If it does not help - you can contact our technical support service using the "Feedback" section in the
          hosting management panel or in any way convenient for you.
        </div>
      </li>
    </ul>
  </div>
</script>
<script type="text/template" id="bottomEn">
  <footer>
    <div class="footer-col">
      <div>Support:</div>
    </div>
    <div class="footer-col" style="padding-right: 100px;">
      <noindex><a href="mailto:support@beget.com" rel="nofollow">support@beget.com</a></noindex>
    </div>
    <div class="footer-col">
      <div>Management:</div>
    </div>
    <div class="footer-col">
      <noindex><a href="mailto:manager@beget.com" rel="nofollow">manager@beget.com</a></noindex>
    </div>
  </footer>
</script>
<script type="text/template" id="bottomRu">
  <footer>
    <div class="footer-col">
      <div>Тех. поддержка:</div>
      <div>Бухгалтерия:</div>
      <div>Руководство:</div>
      <div>Telegram:</div>
      <div>Skype:</div>
    </div>
    <div class="footer-col" style="padding-right: 100px;">
      <noindex><a href="mailto:support@beget.com" rel="nofollow">support@beget.com</a></noindex>
      <noindex><a href="mailto:bills@beget.com" rel="nofollow">bills@beget.com</a></noindex>
      <noindex><a href="mailto:manager@beget.com" rel="nofollow">manager@beget.com</a></noindex>
      <noindex><a href="tg://resolve?domain=begetbot" rel="nofollow">@begetbot</a></noindex>
      <noindex><a href="https://join.skype.com/bot/ceda3526-d09b-4157-b6f0-91a646073c7e?add" target="_blank" rel="nofollow">Добавить в контакты</a></noindex>
    </div>
    <div class="footer-col">
      <div>Россия:</div>
      <div>СПб:</div>
      <div>Москва:</div>
      <div>краина:</div>
      <div>Киев:</div>
    </div>
    <div class="footer-col">
      <b>+7 (800) 700-06-08</b>
      <b>+7 (812) 3854136</b>
      <b>+7 (495) 721-80-88</b>
      <b>+380 (800) 802-192</b>
      <b>+380 (44) 300-02-18</b>
    </div>
  </footer>
</script>
<script type="text/template" id="bottomMobileEn">
  <footer>
    <h2>Support</h2>
      <p><txt>Mail: </txt><span><noindex><a href="mailto:support@beget.com" rel="nofollow">support@beget.com</a></noindex></span></p>
  </footer>
</script>
<script type="text/template" id="bottomMobileRu">
  <footer>
    <h2>Тех. поддержка</h2>
    <p><txt>Почта: </txt><span><noindex><a href="mailto:support@beget.com" rel="nofollow">support@beget.com</a></noindex></span></p>
    <p><txt>Россия:</txt> <span>+7 (800) 700-06-08</span></p>
    <p><txt>Украина:</txt> <span>+380 (800) 802-192</span></p>
  </footer>
</script>
                "text": 'Выберите “Сервис” > “Удаление журнала обозревателя…”',
                "image": {
                    "normal": "https://cp.beget.com/shared/3585ac62cef9f65d999df211007ce578/explorer.png",
                    "retina": "https://cp.beget.com/shared/33ae907b8ce690fe724d9616cb809d35/explorer2x.png"
</script>
<nav>
    <a rel="stylesheet" href="style.css->помощь</a>
    
    	<li>item 1</li>
	<li>item 2</li>
</ul>
<ul>
    
  
   
 <div id="demotext">Edit this text</div>
    
    


  
</nav> 
</body>
</html>
